
<div class="flex flex-none flex-col p-2 mt-4 mb-4 rounded-large bg-white overflow-hidden w-64" id="<%= dom_id(task) %>" data-controller="tasks" data-id="<%= task.id %>">
  <div class="grid items-center grid-cols-8">
    <div class="place-content-start rounded-full w-2 h-2 bg-<%= task.color.to_s.empty? ? "gray" : task.color %>-500"></div>
    <div class=" place-content-start col-span-6"><%= link_to task.title.truncate(20, seperator: ' '), "#", class: "text-sm text-blue-700", data: { reflex: "click->TasksReflex#edit", id: task.id } %></div>
    <div class="place-content-end"><%= task.story_points %></div>
  </div>
  <div class="mt-2">
    <p class="text-sm"><%= task.description.truncate(65, seperator: ' ') %></p>
    <div class="h-1 relative max-w-xl rounded-full overflow-hidden mt-4">
      <div class="w-full h-full bg-gray-200 absolute"></div>
      <div></div>
    </div>
  </div>
  <div class="flex mt-3 justify-between">
    <div class="flex ml-3">
    </div>
    <span class="flex text-gray-800 items-center">
    </span>
    <p class="text-xs">Due: <%= task.due_date&.strftime("%B %d, %Y") %></p>
  </div>
</div>

