<%= form_for(@organisation) do |f| %>
  <div class="lg:grid lg:grid-cols-2 lg:gap-6">
    <div class="<%= @organisation.id.nil? ? "lg:col-span-3" : "lg:col-span-1" %>">
      <div class="input-group">
        <%= f.label :name, class: 'label' %>
        <%= f.text_field :name, class: 'input', placeholder: 'Enter organisation name...', required: true %>
      </div>
      <div class="input-group">
        <%= f.label :domain, class: 'label' %>
        <%= f.text_field :domain, class: 'input', placeholder: 'Enter your organisations email domain...' %>
      </div>
      <div class="flex items-start">
        <%= f.check_box :restrict_to_domain, class: "input-checkbox" %>
        <%= f.label :restrict_to_domain, class: "ml-3 label" %>
      </div>      
      <div class="flex items-start">
        <%= f.check_box :active, class: "input-checkbox" %>
        <%= f.label :active, class: "ml-3 label" %>
      </div>
      <div class="input-group mt-5">
        <%= f.submit "Save", class: "btn btn-default" %>
        <%if @organisation.id %>
          <%= link_to "Cancel", root_path, method: :get, class: "btn btn-link" %>
        <% end %>
      </div>
    </div>
    <% unless @organisation.id.nil? %>
      <div class="lg:col-span-1">
        <label class="label">Company Logo</label>
        <div>
          <%= image_tag organisation_logo(@organisation, 200) %>
        </div>
        <%= f.file_field :logo %>
      </div>
    <% end %>
  </div>
<% end %>
