

<div data-controller="tasks"  id='tasks' data-reflex-root='#tasks'>
  <%= render "shared/page_header", title: "#{current_user.current_project.name} Tasks" %>
  <div class="shadow mt-2 mb-4">
    <div>
      <%= render 'shared/index_page_top', edit_instance: nil, reflex: "TasksReflex", query: @query, hide_new: true %>
      <div data-controller="working-project-tasks">
        <%= render "table", tasks: @tasks, reflex_name: "TasksReflex" %>
      </div>
    </div>
    <div>
      <%= render "shared/index_page_paginator", pagy: @pagy, reflex: "TasksReflex" %>
    </div>
  </div>
  <%= render 'tasks/task_modal', url: working_project_task_path(@task) if @task %>
</div>



